/*
 * @file
 * Style sheet for the views_slideshow module
 * 
 * You can disable the loading of this file in your style options, just uncheck 'Use the module's default styling'
 *
 * .views-simplespy-item li get per-row classes like simplespy-item-odd and simplespy-item-even 
 *
*/	

/* the whole simpleSpy (safe to add margin/padding to this wrapper) */
.views-simplespy {
 border: 1px solid #ddd;
 margin-bottom:1em;
 margin-top: 1.5em;
}

/* ul wrapper DO NOT add margin/padding to the ul or the animation will jump */
ul.simplespy-content {
}

/*
 * Don't use padding/margin top/bottom on .views-simplespy-item, or the animation will jump for that ammount
 * so apply it to the header and the first divs inside the .views-simplespy-item
 */
li.views-simplespy-item {
}

li.views-simplespy-item div {
 padding: 0.25em 0.25em;
}

li.views-simplespy-item div div {
  padding: 0;
}
